<nav>
    <ul class="primary">
        <li >
           <a   (click)="ScrollIntoView('#myElement1')">   {{"landing.Home"|translate}} </a>

        </li>
     
        <li>
            <a (click)="ScrollIntoView('#myElement2')">   {{"landing.Broadcasters"|translate}} </a>
            <!-- <ul class="sub">
                <li><a href="" i18n>خدمات 1</a></li>
                <li><a href="" i18n>خدمات 2</a></li>
                <li><a href="" i18n>خدمات 3</a></li>
            </ul> -->
        </li>
        <li>
            <a (click)="ScrollIntoView('#myElement3')" i18n="@@weblog">{{"landing.Listeners"|translate}} </a>

        </li>
        <li>
            <a (click)="ScrollIntoView('#myElement6')" i18n="@@questions">{{"landing.Pricing"|translate}}  </a>

        </li>
        <li>
            <a (click)="ScrollIntoView('#myElement5')">  {{"landing.About"|translate}} </a>

        </li>
        <li>
            <a (click)="ScrollIntoView('#myElement7')">  {{"landing.Contact us"|translate}} </a>
        </li>
    </ul>
</nav>
 