
.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff; 
    border: none;
    padding: 10px;
    border-radius: 4px; 
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    background: #0075ff;
    cursor: pointer;
  }
  .file-upload-btn:hover {
    background: #68a0df;

  }
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap { 
    border: 1.7px dashed #aaa;
    position: relative;
    width:210px;
    height:130px;
  }

  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #15824B;
    padding: 60px 0;
  }
  
  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }
  
  .image-upload-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .image {
    width: 100%;
    height: 100%;
  }