<body dir="ltr">
 
    <!--start navigation area-->
    <div id="undefined-sticky-wrapper" class="sticky-wrapper" id="sticky-wrapper" style="height: 105px;">
        <header class="header_area">
            <div class="main_menu">
                <nav class="navbar navbar-expand-xl navbar-light">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <a class="navbar-brand logo_h" href=""><img src="../../../../../../assets/ltr-img/logo.png"
                                alt=""></a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div>   
                            <mat-select #matSelect [value]="selectedCountry.id">
                                <mat-select-trigger> 
                                    select
                                    <img with="20px" height="20px" [src]="selectedCountry.flag_url">
                                </mat-select-trigger>
                                <mat-option *ngFor="let country of allCountries" [value]="country.id" [name]="country.name"
                                    (click)="selectCountry(country)">
                                    <img with="20px" height="20px" [src]="country.flag_url">
                                    {{country.name}}
                                </mat-option>
                            </mat-select>
                            
                        </div> 
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                            <ul class="nav navbar-nav menu_nav ml-auto">
                                <li class="nav-item active"><a href="#">Home</a></li>
                                <li class="nav-item"><a href="#broadcasters">Broadcasters</a></li>
                                <li class="nav-item"><a href="#business">Listeners</a></li>
                                <li class="nav-item"><a href="#pricing">Pricing</a></li>
                                <li class="nav-item"><a href="#about">About</a></li>
                            </ul>
                            <ul class="navbar-nav nav-btn">
                                <li class="nav-item"><a class="hdr-btn" id="signup" routerLink="/auth/signup">Sign
                                        Up</a></li>
                                <li class="nav-item"><a class="hdr-btn" routerLink="/auth/signin">Login</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
    </div>
    <!--end navigation area-->

    <!-- start banner Area -->
    <section class="banner-area h-100">
        <div class="container h-100">
            <div class="row h-100 align-items-center banner-inner">
                <div class="col-lg-6">
                    <div class="banner-content">
                        <h2 class="animated fadeInDown">Hug Networks</h2>
                        <p>Everything you need to Go Hyperlocal</p>

                        <div class="form-group">
                            <input type="email" name="email_id" id="email_id" placeholder="Your email address">
                            <button class="primary-btn" onclick="getStarted()">Get Started</button>
                        </div>
                        <div class="banner-btns">
                            <a href="https://apps.apple.com/us/app/hug-networks/id719319906" target="_blank"><img
                                    src="../../../../assets/ltr-img/apple-button-black.png" alt=""></a>
                            <a href="https://play.google.com/store/apps/details?id=com.hugnetworks.android&amp;hl=en_US&amp;gl=US"
                                target="_blank"><img src="../../../../assets/ltr-img/google-btn-black.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="banner-thumb">
                        <img class="banner-thumbnail img-fluid" src="../../../../assets/ltr-img/banner-thumb.png"
                            alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end banner Area -->

    <!-- start gbx area  -->
    <section id="features" class="features-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="features-inner">
                        <img class="wave-shape" src="../../../../assets/ltr-img/wave-shape.png" alt="">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="single-features-item">
                                    <img src="../../../../assets/ltr-img/features-icon.png" alt="">
                                    <h4>Your Content Delivered</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="single-features-item">
                                    <img src="../../../../assets/ltr-img/features-icon2.png" alt="">
                                    <h4>To the People Who Care</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="single-features-item">
                                    <img src="../../../../assets/ltr-img/features-icon3.png" alt="">
                                    <h4>In The Places They Are</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end features area  -->

    <!-- start delivery area  -->
    <section id="delivery" class="delivery-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 offset-lg-1 order-lg-2">
                    <div class="delivery-thumb">
                        <img class="img-fluid" src="../../../../assets/ltr-img/delivery-thumb.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="delivery-content">
                        <h2>Content-Delivery Made Smarter</h2>
                        <p>HUG is the only opt-in content delivery platform that uses people’s locations and specific
                            interests to deliver content to their mobile devices at any time anywhere</p>
                        <ul class="delivery-option">
                            <li><img src="../../../../assets/ltr-img/rectangle.png" alt=""> Increase Walk-in Traffic
                            </li>
                            <li><img src="../../../../assets/ltr-img/rectangle.png" alt=""> Reach Like-Minded People Any
                                Time Anywhere
                            </li>
                            <li><img src="../../../../assets/ltr-img/rectangle.png" alt=""> Build Real Community</li>
                            <li><img src="../../../../assets/ltr-img/rectangle.png" alt=""> Save Time and Money</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end delivery area  -->

    <!-- start delivery area  -->
    <section class="delivery-area right-aligned">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="delivery-thumb">
                        <img class="img-fluid" src="../../../../assets/ltr-img/innovative-thumb.png" alt="">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="delivery-content">
                        <h2>HUG’s Three Innovative Ideas</h2>

                        <div class="innovative-ideas">
                            <div class="single-innivative-idea">
                                <h4>#1 Attach Content to Locations</h4>
                                <p>People are always moving—passing by businesses, traveling through neighborhoods,
                                    visiting museums, going to class, etc. </p>
                                <p>With HUG, you attach your content to any location you like. People passing by that
                                    location (from 50 feet up to a 5-mile radius) will receive your HUG on their mobile
                                    devices based on their interests.</p>
                            </div>
                            <div class="single-innivative-idea">
                                <h4>#2 Match Content to Individualized Interests</h4>
                                <p>Like a dating site, HUG users list their specific interests and only receive content
                                    that matches those interests. No need to build a following, earn likes, or bother
                                    anyone with unwanted posts.</p>
                            </div>
                            <div class="single-innivative-idea">
                                <h4>#3 Bring Location and Interests Together</h4>
                                <p>HUG recognizes that the places we are often reflect our personal interests, even if
                                    it’s the grocery store. By bringing interests and locations together, HUG helps
                                    people make intuitive, instant connections within a deliverable proximity.</p>
                                <p>Receiving the store coupons right as you approach the store could be very handy. If
                                    you like coupons, that is!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end delivery area  -->

    <!-- start benefits area  -->
    <section id="benefit" class="bebefits-area">
        <div class="benefit-big-thumb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <img class="img-fluid" src="../../../../assets/ltr-img/benefit-big-thumb.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="benefit-content-wraper">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="section-title">
                            <h2>The Benefits</h2>
                            <p>The biggest benefit of HUG is reaching like-minded people where they are at the exact
                                time they are interested in what you have to say. Here’s what we mean:</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="benefit-thumb">
                            <img class="img-fluid" src="../../../../assets/ltr-img/benefit-thumb.png" alt="">
                        </div>
                        <div class="benefit-content-item">
                            <h4 class="colored">HUG Increases Walk-in Traffic for Your Local Business</h4>
                            <h4>#1 HUG Story</h4>
                            <p>Bob likes coffee...a lot! He adds "espresso drinks" to his list of interests in his HUG
                                account. Passing through a new neighborhood, Bob gets a HUG on his phone from a local
                                coffee shop describing their double espresso peanut butter latte. Bob can’t resist and
                                stops in.</p>
                            <p>By using HUG, that coffee shop increases walk-in sales by reaching new customers as they
                                pass through town.</p>
                            <p>HUG Connects You with Like-Minded People All Over the World</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="benefit-content-item">
                            <h4 class="colored">HUG Connects You with Like-Minded People All Over
                                the World</h4>
                            <h4>#2 HUG Story</h4>
                            <p>Sheila’s into folk music. Unfortunately, The Folk Music Hall of Fame in Beacon, NY is too
                                far for her to travel to. But with a HUG account, the Hall of Fame can reach over the
                                miles and attach HUGs to any location ever mentioned in a folk song. When Sheila or
                                anyone passes by one of these spots anywhere in the country, they get a HUG with an
                                audio recording of the song—and a link to a Hall of Fame t-shirt!</p>
                            <p>Because HUG subscribers can reach like-minded people anywhere in the world by placing
                                HUGs in locations of shared interest—a wider community of like-minded people is born and
                                information is shared more organically.</p>
                        </div>
                        <div class="benefit-content-item">
                            <h4 class="colored">HUG Reaches People at the Exact Right Times</h4>
                            <h4>#3 HUG Story</h4>
                            <p>Felicia owns an all-night emergency taco business super popular with college students.
                                Every night from 10:30 pm to 4 am, a HUG from Felicia goes out to anyone on two local
                                campuses interested in "tacos" or "late-night delivery". Her HUG can be anything from
                                coupons and recipes to "notes from the all-night taco girl"-no need to pass out fliers,
                                build a following online, or even use radio ads.</p>
                            <p>With HUG, you can reach the right people any time of day or night, whether you set up a
                                HUG to last an hour, a week, or years.</p>
                        </div>
                        <div class="benefit-content-item">
                            <h4 class="colored">HUG Saves Time When It Matters</h4>
                            <h4>#4 HUG Story</h4>
                            <p>Juan lives near a traffic light in a heavy traffic area. One afternoon, the light
                                stops working and two cars collide, making it impossible for others to pass. Juan
                                attaches a HUG to the traffic light two blocks away, warning incoming travelers
                                interested in "traffic updates" to take an alternate route.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end benefits area  -->

    <!-- start cta area  -->
    <section id="cta" class="cta-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="cta-content">
                        <h4>HUG delivers news quickly in emergencies or just when plans have changed. Last-minute
                            cancellations, traffic reports, or weather notices go out to the people who need them in
                            real time.</h4>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="cta-btns">
                        <a href="https://apps.apple.com/us/app/hug-networks/id719319906"><img
                                src="../../../../assets/ltr-img/apple-button-light.png" alt=""></a>
                        <a
                            href="https://play.google.com/store/apps/details?id=com.hugnetworks.android&amp;hl=en_US&amp;gl=US"><img
                                src="../../../../assets/ltr-img/google-btn-light.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end cta area  -->

    <!-- start broadcasters area  -->
    <section id="broadcasters" class="broadcasters-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Broadcasters</h2>
                        <p>Everything you need to go Hyperlocal</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <div class="broadcasters-thumb">
                        <img class="img-fluid" src="../../../../assets/ltr-img/broadcasters-thumb.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="broadcasters-content-items">
                        <h4>Understand Your Customers’s Needs Before They Do</h4>
                        <p>Reaching people with the right message at the right time is the most efficient and effective
                            way to increase awareness, strengthen loyalty, and ultimately, maximize your sales and
                            content delivery services. <a href="mailto: demorequest@hugnetworks.com">Request a Demo.</a>
                        </p>
                        <h5>Communicate with them, Don't Market to them</h5>
                    </div>
                    <div class="broadcasters-content-items">
                        <h4>Hug Drives Sales Add Enhances Loyalty</h4>
                        <p>HUG mobile broadcasting platform combines the power of big data, smart messaging and
                            analytics, so you can take advantage of location based technology, and broadcast your
                            content in real-time to people around you without having to invest in developing a mobile
                            app and its marketing. More importantly HUG as a technology platform does not require,
                            Friending – following or Liking.</p>
                        <p>Together, we transform the way your content is distributed. Together, mobile app users have
                            your content at their side as they commute, work, shop and dine – enabling you to send
                            relevant messages, at the exact time and place, they need your advice and are ready to act
                            on it.</p>
                        <p>Try the HUG service by <a id="signup" href="#register">Registering</a> for a free account and
                            see how HUG can help
                            you get your message to the people around you. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end broadcasters area  -->

    <!-- start business solution area  -->
    <section id="business" class="business-solution-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Business Solution </h2>
                        <p>See our business solutions here</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- single business  -->
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="single-business-item">
                        <div class="business-thumb">
                            <img src="../../../../assets/ltr-img/business-icon.png" alt="">
                        </div>
                        <div class="business-content">
                            <h4>Any brand and services</h4>
                            <ul>
                                <li>Relevant messaging – Deliver rich media (Text- Audio-Video) exactly at the right
                                    time and place – when they need it most!</li>
                                <li>Strengthen loyalty and brand awareness</li>
                                <li>Promote mobile app usages and services without having to make an investment in
                                    development &amp; marketing</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- single business  -->
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="single-business-item dff-style">
                        <div class="business-thumb">
                            <img src="../../../../assets/ltr-img/business-icon2.png" alt="">
                        </div>
                        <div class="business-content">
                            <h4>Government and Civic services</h4>
                            <ul>
                                <li>Relevant Content delivery for targeted populations</li>
                                <li>Maximize service efficiency by managing your in-house communications Tourism and
                                    Hospitality</li>
                                <li>Drive reservations via push notification at the right time and place.</li>
                                <li>Micro-target relevant customers for excess inventory and time sensitive appointments
                                </li>
                                <li>Provide relevant content and coupons at destination</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- single business  -->
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="single-business-item">
                        <div class="business-thumb">
                            <img src="../../../../assets/ltr-img/business-icon3.png" alt="">
                        </div>
                        <div class="business-content">
                            <h4>Retail and FMCG</h4>
                            <ul>
                                <li>Bonds the gap between mobile,
                                    web and your physical stores</li>
                                <li>Increase visibility</li>
                                <li>Increase sales</li>
                                <li>Get to know your customers – who is buying and when</li>
                                <li>Develop and deploy successful increase-share of wallet strategies</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- single business  -->
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="single-business-item dff-style">
                        <div class="business-thumb">
                            <img src="../../../../assets/ltr-img/business-icon4.png" alt="">
                        </div>
                        <div class="business-content">
                            <h4>Mobile advertising</h4>
                            <ul>
                                <li>Serve relevant ads – at the right time and place</li>
                                <li>Get the full picture on your customers activity</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end business solution area  -->

    <!-- start pricing area -->
 <!-- start pricing area -->
 <section id="pricing" class="pricing-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Pricing Plan</h2>
                    <p>Check our best plan here</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- single pricing  -->
            <div class="col-lg-3 col-md-6" *ngFor="let item of packages; let i=index">
                <div class="single-pricing" [ngClass]="{'dff-style':i/2!==0}">
                    <h4 id="4_title">{{item.package_name}}</h4>
                    <h2 class="price" id="4_price">{{item.package_currency}}{{item.package_price}}<span style="font-size: .875rem;">/{{item?.duration_factor}} {{item.package_duration}}</span></h2>
                    <ul >
                        <li  *ngFor="let quantity of item.quantities">
                            <ng-container *ngIf="quantity.quantity_type  === 'text'"> 
                                <mat-icon  class="fa fa-check blue ">check</mat-icon>Up to <span id="4_hugsperday"> {{quantity.quantity_value}} {{quantity.quantity_unit}}</span> {{quantity.quantity_name}}
                            </ng-container>
                            <ng-container *ngIf="quantity.quantity_type  === 'checkbox'">
                                {{quantity.quantity_name}} 
                            <span id="4_hugsperday" style="padding-left:50px ;"> 
                                    <mat-icon *ngIf="quantity.quantity_value != 1" class="fa fa-check red">close</mat-icon>
                                    <mat-icon *ngIf="quantity.quantity_value == 1" class="fa fa-check green">check</mat-icon>
                                </span>
                            </ng-container>
                        </li>

                        <!-- <li><i class="fas fa-check"></i><span id="4_linktourl"></span>Links to URL</li>
                        <li><i class="fas fa-check"></i>Broadcast Duration for <span
                                id="4_broadcastduration">1</span> Day</li>
                        <li><i class="fas fa-check"></i>Up to <span id="4_wifysstusage">1</span> WiFi/SSID Usage
                        </li>
                        <li><i class="fas fa-check"></i>Upto <span id="4_locationusage">1</span> Location Usage</li> -->
                    </ul>
                    <a style="color: #fff; cursor: pointer" routerLink="/auth/signin" class="primary-btn">Select
                        Plan</a>
                </div>
            </div>
       
        </div>
    </div>
</section>
<!-- end pricing area -->
    <!-- end pricing area -->

    <!-- start about area  -->
    <section id="about" class="about-area">
        <div class="container">
            <img class="about-shape" src="../../../../assets/ltr-img/about-shape.png" alt="">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-thumb">
                        <img class="img-fluid" src="../../../../assets/ltr-img/about-thumb.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <h2>About HUG</h2>
                        <div class="about-content-item">
                            <p>Hug's mobile app for the users is always FREE. To download the free app please click here
                                and choose either the iOS or Android Version (this should point them to the top of the
                                page where we have links to the app download)</p>
                            <h3>What is HUG?</h3>
                            <p>HUG makes it easier to share and exchange information with others in your surroundings,
                                whether they be other people, organizations, or merchants. We build apps and platforms
                                that help you deliver and receive real-time, hyper-local content that’s personalized and
                                relevant to your area and interest.</p>
                            <p>Discovering what’s nearby, hot deals, or that particular dream date are just a few things
                                that HUG is perfect for.</p>
                        </div>
                        <div class="about-content-item">
                            <h3>How can my business, brand, or agency work with HUG?</h3>
                            <p>Whether you operate a stand at a farmers market, a national chain, a famous brand, or
                                just want to engage with people near you, HUG can provide you with the necessary tools
                                to do just that. It’s simple, quick, and scalable. Just visit Start Delivering your
                                content today, register
                                as a Broadcaster, post your FIRST HUG and... well, there is no and! That’s it. You are
                                ready to Hug It Out™.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end about area  -->


    <!-- start propositions area  -->
    <!--        <section id="propositions" class="propositions-area">
        <img class="circle-lines" src="../../../../assets/ltr-img/circle-lines.png" alt="">
        <img class="circle-balls" src="../../../../assets/ltr-img/circle-balls.png" alt="">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 order-lg-2">
                    <div class="propositions-thumb">
                        <img class="img-fluid" src="../../../../assets/ltr-img/propositions-thumb.png" alt="">
                    </div>
                </div>
                <div class="col-lg-7 order-lg-1">
                    <div class="propositions-content">
                        <h2>Our Best Propositions
                            for You!</h2>
                        <p>HUG makes it easier to share and exchange information with others in your surroundings,
                            whether they be other people, organizations, or merchants. We build apps and platforms that
                            help you deliver and receive real-time, hyper-local content that’s personalized and relevant
                            to your area. Discovering what’s nearby, hot deals, or that particular dream date are just a
                            few things that HUG is perfect for.</p>
                        <div class="propositions-btns">
                            <a href="https://apps.apple.com/us/app/hug-networks/id719319906" target="_blank"><img src="../../../../assets/ltr-img/apple-button-light.png" alt=""></a>
                            <a href="https://play.google.com/store/apps/details?id=com.hugnetworks.android&hl=en_US&gl=US" target="_blank"><img src="../../../../assets/ltr-img/google-btn-light.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!-- end propositions area  -->

    <!-- start propositions area  -->
    <section id="propositions" class="propositions-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="propositions-right-content">
                        <h6>Hugs are free to broadcast for 90 Days</h6>

                        <h6>What are you waiting for! Sign up and Lets</h6>
                        <h6>Hug it Out</h6>
                        <div class="sign-up-login-btn text-center">
                            <a class="hdr-btn" id="signup" routerLink="/auth/signup">Sign Up</a>
                            <a class="hdr-btn" routerLink="/auth/signin">Login</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="propositions-content">
                        <h2>Our Best Propositions
                            for You!</h2>
                        <p>HUG makes it easier to share and exchange information with others in your surroundings,
                            whether they be other people, organizations, or merchants. We build apps and platforms that
                            help you deliver and receive real-time, hyper-local content that’s personalized and relevant
                            to your area. Discovering what’s nearby, hot deals, or that particular dream date are just a
                            few things that HUG is perfect for.</p>
                        <div class="propositions-btns">
                            <a href="https://apps.apple.com/us/app/hug-networks/id719319906" target="_blank"><img
                                    src="../../../../assets/ltr-img/apple-button-light.png" alt=""></a>
                            <a href="https://play.google.com/store/apps/details?id=com.hugnetworks.android&amp;hl=en_US&amp;gl=US"
                                target="_blank"><img src="../../../../assets/ltr-img/google-btn-light.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end propositions area  -->

    <!-- start footer Area -->
    <footer class="footer-area">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <a href=""><img src="../../../../assets/ltr-img/logo.png" alt=""></a>
                        <h2>Hug Networks</h2>
                        <p>Everything you need to Go Hyperlocal</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <p class="copyright">Copyright @2021 Hug Networkds</p>
                    </div>
                    <div class="col-lg-6">
                        <ul class="footer-menu">
                            <li><a href="http://hugnetworks.com/terms.html">Terms and Condition</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>






</body>