.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.first-h2 {
    font-size: 1.6rem !important;
    padding-top: 20px !important;
}

.newsletter input {
    font-family: "Inconsolata", monospace;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background: crimson;
    color: white;
    text-shadow: 0 0 10px crimson;
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 crimson, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
    // box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.5);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        width: 300px;
        opacity: 1;
        cursor: text;
    }

    &:focus~.search {
        right: -250px;
        background: #151515;
        z-index: 6;

        &::before {
            top: 0;
            left: 0;
            width: 25px;
        }

        &::after {
            top: 0;
            left: 0;
            width: 25px;
            height: 2px;
            border: none;
            background: white;
            border-radius: 0%;
            transform: rotate(-45deg);
        }
    }

    &::placeholder {
        color: white;
        opacity: 0.5;
        font-weight: bolder;
    }

    .card-price {
        font-size: 14px;
        padding: 0px;
        margin-bottom: 1px !important;
    }

    .card-package .card-title {
        margin-bottom: 1rem !important;
    }

    .card-package .card-price {
        margin-bottom: 1rem !important;
    }

    .loader {
        height: 10%;
        width: 100%;
        bottom: 0;
        position: fixed;
        text-align: -webkit-center;
        z-index: 99999;
    }

    .item-card {
        margin: 10px 0
    }

}

.img-is-not-active {
    position: absolute;
    z-index:-1 !important;  
}

.img-is-active {
    position: relative;
    z-index:1 !important;  
}

.is-active .img-is-active {
    position: absolute;
    z-index:-1 !important;
}

.is-active .img-is-not-active {
    position: relative;
    z-index:1 !important;
}