* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    ;
} 

.location-form-main {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 10%;
}

.location-form-header {
    width: 100%;
    background-color: rgb(25, 101, 243);
    padding: 20px;
    text-align: left;
    border-radius: 5px 5px 0px 0px;
    color: #FFF;
    font-weight: 900;
    font-family: Arial, Helvetica;
}

.location-form {
    width: 99.8%;
    padding: 20px;
    padding-top: 0px;
    text-align: center;
    border: 1px #aaa solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.first__row {
    margin-top: 30px
}

.form-group-container { 
    margin:5px;
    display: flex; 
}
 

.first__row{
    margin-top: 7%;
}

.form-group {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px
}

.form-group label {
    min-width: 130px;
    text-align: left;
    padding-top: 10px;
    font-size: 11pt; 
}

.form-group input {
    min-width: 210px;
    text-align: left;
    padding: 5px;
}

.form-group select {
    min-width: 210px;
    text-align: left;
    padding: 5px;
}

button {
    height: 40px;
    width: 100px;
    border: none !important;
    border-radius: 5px;
    background-color: #0075ff !important;
    font-size: 12px;
    color: #fff !important;
    cursor: pointer;
}

button:hover {
    background-color: #60a0ea !important;
}

.button_space {
    margin-top:50px;
    display: flex; 
    flex-direction: row-reverse;
}

.form-message{
    color:rgb(250, 16, 16); 
    padding-top: 10px;
    margin:10px
}
 
 

input[type="text"] {
    width: 100%;
    height: 40px;
    border: none;
    outline: 0;
    border-radius: 5px;
    border: 1px solid #cbced4;
    gap: 20px;
    box-sizing: border-box;
    padding: 0px 10px;
}

select {
    width: 100%;
    height: 40px;
    border: none;
    outline: 0;
    border-radius: 5px;
    border: 1px solid #cbced4;
    gap: 20px;
    box-sizing: border-box;
    padding: 0px 10px;
} 
  
  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff; 
    border: none;
    padding: 10px;
    border-radius: 4px; 
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap { 
    border: 1.7px dashed #aaa;
    position: relative;
    width:210px;
    height:130px;
  }
  
  .map-container {
    width:100%;
    height:100%;
    position: inherit;
}


  
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #15824B;
    padding: 60px 0;
  }
  
  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }
  
  .image-upload-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }