::ng-deep {

 
    /* Large desktops and laptops */
    @media (min-width: 1200px) {
        .hamburger {
            display: none !important;
        }
        .header nav {
            display: flex !important;
        }
    }

    /* Landscape tablets and medium desktops */
    @media (min-width: 992px) and (max-width: 1199px) {
        .hamburger {
            display: none !important;
        }
        .header nav {
            display: flex !important;
        }
    }

    /* Portrait tablets and small desktops */
    @media (min-width: 768px) and (max-width: 991px) {
        .hamburger {
            display: flex !important;
        }
        .header nav {
            display: none !important;
        }
    }

    /* Landscape phones and portrait tablets */
    @media (max-width: 767px) {
        .hamburger {
            display: flex !important;
        }
        .header nav {
            display: none !important;
        }
    }

    /* Portrait phones and smaller */
    @media (max-width: 480px) {
        .hamburger {
            display: flex !important;
        }
        .header nav {
            display: nones !important;
        }
    }

    mat-drawer-content {
        background-color: white;
    }

    .mat-select-arrow-wrapper {
        display: none !important
    }

    .drop-btn {
        height: 50px;
    }

    .drop-btn i {
        padding: 14px;
        font-size: 22px !important;
        color: #444 !important;
        border: none;
        cursor: pointer;
    }

    .drop-btn i:hover {
        color: #FF510F !important;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown ul {
        list-style-type: none;
        padding-right: 1rem !important;
    }

    .dropdown ul li {
        min-width: 95;
        padding: 5px;
        text-align: -webkit-match-parent;
    }

    .dropdown ul li a {
        color: #111;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        padding: 0
    }
    .banner-thumbnail {
        margin-top: 200px !important;
    }
}